$themes: (light: (
        base-text-color: $color-text-level-5,
        background-color: $color-light-background,
        side-nav-background-color: $color-white,
        side-nav-border-right: 1px solid $color-grey-tiny,
        side-nav-border-bottom: 1px solid $color-grey-tiny,
        side-nav-sub-category: $color-text-light,
        side-nav-slide-menu-color: $color-text-light,
        side-nav-label-new: $color-green-primary-light,
        side-nav-label-hot: $color-red-primary-light,
        nav-border-bottom: 1px solid $color-grey-tiny,
        dashboard-bgcolor: #f8f9fa,
        card-bgcolor: $color-white,
        card-info-color: #666,
        card-description-color: #999,
        chart-heading-border-bottom: 1px solid #dee2e6
), dark:(
        base-text-color: $color-text-level-c,
        background-color: $color-dark-background,
        side-nav-background-color: #2c302e,
        side-nav-border-right: 1px solid #444,
        side-nav-border-bottom: 1px solid #444,
        side-nav-sub-category: #dee2e6,
        side-nav-slide-menu-color: #ccc,
        side-nav-label-new: $color-green-primary,
        side-nav-label-hot: $color-red-primary,
        nav-border-bottom: 1px solid #444,
        dashboard-bgcolor: $color-dark-background,
        card-bgcolor: #444,
        card-info-color: #eee,
        card-description-color: #999,
        chart-heading-border-bottom: 1px solid $color-text-level-5
))

