$themes: (light: (
        base-text-color: $color-text-level-5,
        color-reverse: #eee,
        background-color: $color-light-background,
        side-nav-background-color: $color-white,
        side-nav-border-right: 1px solid $color-grey-tiny,
        side-nav-border-bottom: 1px solid $color-grey-tiny,
        side-nav-sub-category: $color-text-light,
        nav-border-bottom: 1px solid $color-grey-tiny,
        dashboard-bgcolor: #f8f9fa,
        card-bgcolor: $color-white,
        card-info-color: #666,
        card-description-color: #999,
        chart-heading-border-bottom: 1px solid #dee2e6,
        toggle-btn-bgcolor: #666,
        nav-popup-color: $color-text-level-5,
), dark:(
        base-text-color: $color-text-level-c,
        color-reverse: #555,
        background-color: $color-dark-background,
        side-nav-background-color: #2c302e,
        side-nav-border-right: 1px solid #444,
        side-nav-border-bottom: 1px solid #444,
        side-nav-sub-category: #dee2e6,
        nav-border-bottom: 1px solid #444,
        dashboard-bgcolor: $color-dark-background,
        card-bgcolor: #444,
        card-info-color: #eee,
        card-description-color: #999,
        chart-heading-border-bottom: 1px solid $color-text-level-5,
        toggle-btn-bgcolor: $color-text-level-c,
        nav-popup-color: $color-text-level-7
))

