.dashboard{

  padding: 2.4rem 4.8rem;

  @include themify(){
    background-color: themed("dashboard-bgcolor");
  }

  &__heading-primary{
    font-size: 2.4rem;
    font-weight: 400;
  }



  &__cards{
    @include flex-align-center;
    gap: 2.4rem;
    justify-content: space-between;

    .card{
      flex: 1;
      @include flex-align-center;
      @include flex-space-between;
      padding: 1.2rem 2rem;
      border-radius: .6rem;
      box-shadow: 0 .2rem .4rem rgba($color-black, .1);

      &__left{
        &-heading{
          font-weight: 400;
          font-size: 1.4rem;
        }
        &-info{
          font-size: 2.8rem;
          font-weight: 600;

          @include themify(){
            color: themed("card-info-color")
          }
        }

        &-description{
          font-size: 1.2rem;

          @include themify(){
            color: themed("card-description-color")
          }

          @include flex-align-center;
          gap: .4rem;
        }

      }

      @include themify(){
        background-color: themed("card-bgcolor");
      }

      .chart{
        height: 12rem;
        width: 45%;
      }

      &__icon-container{
        @include flex-align-center;
        gap: .1rem;

        &--1{
          color: #845ef7;
        }

        &--2{
          color:#22b8cf;
        }

        &--3{
          color: #ff922b;
        }

        &--4{
          color: #94d82d;
        }

        svg{
          width: 1.2rem;
          height: 1.2rem;
        }
      }
    }
  }


}
