$color-white: #fff;
$color-black: #000;

$color-text-level-3: #333;
$color-text-level-5: #555;
$color-text-level-7: #777;
$color-text-level-a: #aaa;
$color-text-level-c: #ccc;

$color-light-background: #fff;
$color-dark-background: #313533;


$color-text: #555;
$color-text-light: #777;
$color-text-tiny: #aaa;
$color-grey-tiny: #dee2e6;


$color-blue-light: #4dabf7;
$color-blue-primary: #1c7ed6;
$color-blue-dark: #1971c2;


$color-red-primary: #ff6b6b;
$color-red-primary-light: #ff8787;

$color-green-primary: #69db7c;
$color-green-primary-light: #8ce99a;

$color-yellow-primary: #ffe066;
