.u-base-icon{
  stroke-width: 1.5;
  box-sizing: content-box;
  cursor: pointer;
}


.u-hidden{
  display: none;
}

.u-margin-bottom-2-4{
  margin-bottom: 2.4rem;
}

.u-margin-bottom-1-2{
  margin-bottom: 1.2rem;
}

.u-margin-bottom-3-6{
  margin-bottom: 3.6rem;
}

.u-height-auto{
  max-height: 10rem !important;
}

.u-rotate-90{
  transform: rotate(90deg);
}
